body {
    background-color: lightgray;
}

.navbar{
    border: 0.2em solid black;
    background-color: darkturquoise;
    color: blue;
    text-shadow: 0.05rem 0.05rem red;
    font-family: monospace;
    font-size: 1.1rem;
}

.navbar a {
    color: blue;
    text-shadow: 0.05rem 0.05rem red;
    text-decoration: none; /* remove underline */
    padding: 0.2rem;
    display: inline-block;
    font-size: 1.1rem;
    /* transition: all 0.2s ease-in-out; */
}

.navbar a:hover {
    color: red;
    text-shadow: 0.05rem -0.05rem blue;
    font-size: 1.1rem;
    border: 0.1em solid black;
    background-color: darkturquoise;
}

.p1{
    font-size: 1.2rem;
    font-family:monospace;
    color: coral;
    font-weight: bold;
    text-shadow: 0.1rem -0.1rem darkblue;
}

.p2{
    font-size: 1.05rem;
    font-family:monospace;
    color: lightcoral;
    /* font-weight: bold; */
    text-shadow: 0.1rem -0.1rem darkblue;
}

.main_page_title{
    text-align: center;
    background-color:indigo;
}

button {
    text-wrap: balance;
    text-decoration: coral;
    width: 8%;
    height: 2rem;
}

/* .totalPriceSection{
    /* align-items: center;
    padding-left: 30%;
    padding-right: -70%;
} */

.TestGemsSection{
    display: flex;
}

.myTable {
    table-layout: fixed;
    width: 100%;
    border: 2px solid black;
}

.myTable th, .myTable td {
    width: 5rem;
    border: 1px solid black;
}

.GemTypes th{
    padding-right: 2rem;
    border: 1px solid black;
}

input{
    max-width: 5.5rem;
    max-height: 50%;
}

th, td{
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

#gemscell{
    border: 1px solid black;
}

caption{
    
}