body {
    background-color: lightgray;
}

.p1{
    font-size: 1.2rem;
    font-family:monospace;
    color: coral;
    font-weight: bold;
    text-shadow: 0.1rem -0.1rem darkblue;
}

.p2{
    font-size: 1.05rem;
    font-family:monospace;
    color: lightcoral;
    /* font-weight: bold; */
    text-shadow: 0.1rem -0.1rem darkblue;
}

.main_page_title{
    text-align: center;
    background-color:indigo;
}

button {
    text-decoration: coral;
    width: 8%;
    height: 2rem;
}